server:
  port: 8080

spring:
  application:
    name: lotto-event-system

  datasource:
    url: jdbc:mariadb://localhost:3306/lotto
    username: lotto
    password: lotto
    driver-class-name: org.mariadb.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    open-in-view: false

logging:
  level:
    org.hibernate.SQL: debug